@font-face {
    font-family: 'Master of Break';
    src: url('../font/master_of_break.ttf');
}
f
body {
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow-x: hidden;
}
.text-muted {
    color: #777;
}
.text-primary {
    color: #27ae60;
}
p {
    font-size: 20px;
    line-height: 1.75;
}
p.large {
    font-size: 16px;
}
a, a:hover, a:focus, a:active, a.active {
    outline: 0 none;
}
a {
    color: #27ae60;
}
a:hover, a:focus, a:active, a.active {
    color: #2ecc71;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.img-centered {
    margin: 0 auto;
}
.bg-light-gray {
    background-color: #f7f7f7;
}
.bg-darkest-gray {
    background-color: #222;
}
.btn-primary {
    background-color: #27ae60;
    border-color: #27ae60;
    color: #fff;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #2ecc71;
    border-color: #f6bf01;
    color: #fff;
}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
    background-color: #27ae60;
    border-color: #27ae60;
}
.btn-primary .badge {
    background-color: #fff;
    color: #27ae60;
}
.btn-xl {
    background-color: #27ae60;
    border-color: #27ae60;
    border-radius: 3px;
    color: #fff;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 40px;
    text-transform: uppercase;
}
.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    background-color: #2ecc71;
    border-color: #f6bf01;
    color: #fff;
}
.btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    background-image: none;
}
.btn-xl.disabled, .btn-xl[disabled], fieldset[disabled] .btn-xl, .btn-xl.disabled:hover, .btn-xl[disabled]:hover, fieldset[disabled] .btn-xl:hover, .btn-xl.disabled:focus, .btn-xl[disabled]:focus, fieldset[disabled] .btn-xl:focus, .btn-xl.disabled:active, .btn-xl[disabled]:active, fieldset[disabled] .btn-xl:active, .btn-xl.disabled.active, .btn-xl.active[disabled], fieldset[disabled] .btn-xl.active {
    background-color: #27ae60;
    border-color: #27ae60;
}
.btn-xl .badge {
    background-color: #fff;
    color: #27ae60;
}

/*--------.menu_area-------- */
.menu_area{
    position: absolute;
    left:0;
    right: 0;
    top: 0;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-top: 20px;
    padding: 12px 0px;
}
.past-main {
    background-color: rgba(0,0,0,0.8);
    margin-top: 0px;
    padding:6px 0px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;

}
#navbar{overflow-x: hidden;}

.navbar-brand {
    color: #fff !important;
    font-size: 30px;
    font-family: "Master of Break", 'Lato', sans-serif;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover{
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #fff;
}

header {
    background-attachment: scroll;
    background-image: url("../img/header-bg.jpg");
    background-position: center center;
    background-size: cover;
    color: #fff;
    text-align: center;
}
header .intro-text {
    padding-bottom: 50px;
    padding-top: 100px;
}
header .intro-text .intro-lead-in {
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
}
header .intro-text .intro-heading {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
@media (min-width: 768px) {
    header .intro-text {
        padding-bottom: 200px;
        padding-top: 300px;
    }
    header .intro-text .intro-lead-in {
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
    }
    header .intro-text .intro-heading {
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        text-transform: uppercase;
    }

    /* Cimahiwall Custom */
    header.blog .intro-text {
        padding-bottom: 50px;
        padding-top: 150px;
    }
}
section {
    padding: 100px 0;
}
section h2.section-heading {
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 0;
}
section h3.section-subheading {
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
    text-transform: none;
}
@media (min-width: 768px) {
    section {
        padding: 150px 0;
    }
}
.service-heading {
    margin: 15px 0;
    text-transform: none;
}
.timeline {
    list-style: outside none none;
    padding: 0;
    position: relative;
}
.timeline::before {
    background-color: #f1f1f1;
    bottom: 20px;
    content: "";
    left: 40px;
    margin-left: -1.5px;
    position: absolute;
    top: 0;
    width: 2px;
}
.timeline > li {
    margin-bottom: 50px;
    min-height: 50px;
    position: relative;
}
.timeline > li::before, .timeline > li::after {
    content: " ";
    display: table;
}
.timeline > li::after {
    clear: both;
}
.timeline > li .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left;
    width: 100%;
}
.timeline > li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline > li .timeline-image {
    background-color: #27ae60;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    color: #fff;
    height: 80px;
    left: 0;
    margin-left: 0;
    position: absolute;
    text-align: center;
    width: 80px;
    z-index: 100;
}
.timeline > li .timeline-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
    padding: 3px;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline > li:last-child {
    margin-bottom: 0;
}
.timeline .timeline-heading h4 {
    color: inherit;
    margin-top: 0;
}
.timeline .timeline-heading h4.subheading {
    text-transform: none;
}
.timeline .timeline-body > p, .timeline .timeline-body > ul {
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .timeline::before {
        left: 50%;
    }
    .timeline > li {
        margin-bottom: 100px;
        min-height: 100px;
    }
    .timeline > li .timeline-panel {
        float: left;
        padding: 0 20px 20px 30px;
        text-align: right;
        width: 41%;
    }
    .timeline > li .timeline-image {
        height: 100px;
        left: 50%;
        margin-left: -50px;
        width: 100px;
    }
    .timeline > li .timeline-image h4 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 16px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}
@media (min-width: 992px) {
    .timeline > li {
        min-height: 150px;
    }
    .timeline > li .timeline-panel {
        padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
        height: 150px;
        margin-left: -75px;
        width: 150px;
    }
    .timeline > li .timeline-image h4 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 20px 20px;
    }
}
@media (min-width: 1200px) {
    .timeline > li {
        min-height: 170px;
    }
    .timeline > li .timeline-panel {
        padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
        height: 150px;
        margin-left: -75px;
        width: 150px;
    }
    .timeline > li .timeline-image h4 {
        margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 100px 20px 20px;
    }
}
.team-member {
    margin-bottom: 50px;
    text-align: center;
}
.team-member img {
    border: 7px solid #fff;
    margin: 0 auto;
}
.team-member h4 {
    margin-bottom: 0;
    margin-top: 25px;
    text-transform: none;
}
.team-member p {
    margin-top: 0;
}
aside.clients img {
    margin: 50px auto;
}
section#contact {
    background-color: #222;
    background-image: url("../img/map-image.png");
    background-position: center center;
    background-repeat: no-repeat;
}
section#contact .section-heading {
    color: #fff;
}
section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group input, section#contact .form-group textarea {
    padding: 20px;
}
section#contact .form-group input.form-control {
    height: auto;
}
section#contact .form-group textarea.form-control {
    height: 236px;
}
section#contact .form-control:focus {
    border-color: #27ae60;
    box-shadow: none;
}
section#contact *:-moz-placeholder {
    color: #bbb;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
section#contact *::-moz-placeholder {
    color: #bbb;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
section#contact .text-danger {
    color: #e74c3c;
}
footer {
    padding: 25px 0;
    margin: 50px 0;
    text-align: center;
}
footer span.copyright {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
    text-transform: none;
}
footer ul.quicklinks {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
}
ul.social-buttons {
    margin-bottom: 0;
}
ul.social-buttons li a {
    background-color: #222;
    border-radius: 100%;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    outline: 0 none;
    transition: all 0.3s ease 0s;
    width: 40px;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
    background-color: #27ae60;
}
.btn:focus, .btn:active, .btn.active, .btn:active:focus {
    outline: 0 none;
}

*::-moz-selection {
    background: #27ae60 none repeat scroll 0 0;
    text-shadow: none;
}
img::-moz-selection {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
body {
}

/** Custom Main Slides **/
.slider_area{
    float: left;
    display: inline;
    width: 100%;
    position: relative;
}
.slider_overlay {
    background: none repeat scroll 0 0 #1a1f20;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}

/*===SLIDER NAVIGATIONS==*/
.slides-navigation a {
    width: 100px;
    height: 100px;
}

.slides-navigation .icon-wrap {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.slides-navigation a::before,
.slides-navigation a::after,
.slides-navigation .icon-wrap::before,
.slides-navigation .icon-wrap::after {
    position: absolute;
    left: 50%;
    width: 3px;
    height: 50%;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.slides-navigation .icon-wrap::before,
.slides-navigation .icon-wrap::after {
    z-index: 100;
    height: 0;
    background: #fff;
    -webkit-transition: height 0.3s, -webkit-transform 0.3s;
    transition: height 0.3s, transform 0.3s;
}

.slides-navigation a::before,
.slides-navigation .icon-wrap::before {
    top: 50%;
    -webkit-transform: translateX(-50%) rotate(-135deg);
    transform: translateX(-50%) rotate(-135deg);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.slides-navigation a.next::before,
.slides-navigation a.next .icon-wrap::before {
    -webkit-transform: translateX(-50%) rotate(135deg);
    transform: translateX(-50%) rotate(135deg);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.slides-navigation a::after,
.slides-navigation .icon-wrap::after {
    top: 50%;
    -webkit-transform: translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.slides-navigation a.next::after,
.nslides-navigation a.next .icon-wrap::after {
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}

.slides-navigation h3 {
    position: absolute;
    top: 50%;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.85em;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.slides-navigation a.prev h3 {
    left: 100%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.slides-navigation a.next h3 {
    right: 100%;
    text-align: right;
    -webkit-transform: translateY(-50%) translateX(50%);
    transform: translateY(-50%) translateX(50%);
}

.slides-navigation a:hover .icon-wrap::before,
.slides-navigation a:hover .icon-wrap::after {
    height: 50%;
}

.slides-navigation a:hover::before,
.slides-navigation a:hover .icon-wrap::before {
    -webkit-transform: translateX(-50%) rotate(-125deg);
    transform: translateX(-50%) rotate(-125deg);
}

.slides-navigation a.next:hover::before,
.slides-navigation a.next:hover .icon-wrap::before {
    -webkit-transform: translateX(-50%) rotate(125deg);
    transform: translateX(-50%) rotate(125deg);
}

.slides-navigation a:hover::after,
.slides-navigation a:hover .icon-wrap::after {
    -webkit-transform: translateX(-50%) rotate(-55deg);
    transform: translateX(-50%) rotate(-55deg);
}

.slides-navigation a.next:hover::after,
.slides-navigation a.next:hover .icon-wrap::after {
    -webkit-transform: translateX(-50%) rotate(55deg);
    transform: translateX(-50%) rotate(55deg);
}

.slides-navigation a:hover h3 {
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(0);
    transform: translateY(-50%) translateX(0);
}
#main-slider {
    position: relative;
}

/*===SLIDER CAPTION===*/

.slider_caption {
    margin-top: 12%;
    padding: 0 13%;
    position: relative;
    text-align: center;
    z-index: 999;
}
.slider_caption > h2 {
    color: #ffffff;
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    margin: 0 auto 10px;
    padding-bottom: 8px;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
}
.slider_caption>p{
    color: #ffffff;
    font-size: 20px;
}
.slider_caption>a{
    margin-top: 30px;
}
.slider_btn{
    padding: 10px 15px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    text-transform: uppercase;
}
.slider_btn:hover,.slider_btn:focus{
    text-decoration: none;
}
.slider_btn:hover,.slider_btn:focus{
    border-color:#27ae60;
    color: #27ae60;
}
.slides-navigation a::before,
.slides-navigation a::after,
.slides-navigation .icon-wrap::before,
.slides-navigation .icon-wrap::after {
    background: #fff;
}
.slides-pagination a {
    border: 2px solid #fff;
}

/*************************
********portfolio CSS*****
**************************/

#portfolio .container-fluid,
#portfolio .col-sm-3  {
    overflow: hidden;
    padding: 0;
}

#portfolio .folio-item {
    position: relative;
}

#portfolio .overlay {
    background-color: #000;
    color: #fff;
    left: 0;
    right:0;
    bottom:-100%;
    height: 0;
    position: absolute;
    text-align: center;
    opacity:0;
    padding: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.overlay .overlay-content {
    display: table;
    height: 100%;
    width: 100%;
}

.overlay .overlay-text {
    display: table-cell;
    vertical-align: middle;
}

.overlay .folio-info {
    opacity: 0;
    margin-bottom: 75px;
    margin-top: -75px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.overlay .folio-info h3 {
    margin-top: 0;
    color: #fff;
}

.folio-overview a {
    font-size: 18px;
    color: #333;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    margin-top: 20px;
    margin-right: 5px;
}

.folio-overview a:hover {
    color: #27ae60;
}

.folio-overview .folio-expand {
    margin-top: -500px;
    margin-left: -500px;
}

.folio-image, .folio-overview .folio-expand {
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

#portfolio .folio-item:hover .folio-image {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.folio-image img {
    width: 100%;
}

#portfolio .folio-item:hover .overlay {
    opacity: 0.8;
    bottom: 0;
    height: 100%;
}

#portfolio .folio-item:hover .folio-overview .folio-expand {
    margin-top: 0;
    margin-left:0;
}

#portfolio .folio-item:hover .overlay .folio-info {
    opacity: 1;
    margin-bottom:0;
    margin-top:0;
}


#single-portfolio {
    padding: 90px 0;
    background: #f5f5f5;
    position: relative;
}

#single-portfolio img {
    width: 100%;
    margin-bottom: 10px;
}

#single-portfolio .close-folio-item {
    position: absolute;
    top: 30px;
    font-size: 34px;
    width: 34px;
    height: 34px;
    left: 50%;
    color: #999;
    margin-left: -17px;
}

/*======================///////////////
			start responsive style
=====================///////////////////////*/


@media(max-width:1199px ){
    .slider_caption > h2 {width: 100%;}
    .blog_slider .slick-prev {left: 91%;}
    #map_canvas{height: 404px;}
    /*only firefox browser*/
    @-moz-document url-prefix() {
        #map_canvas{height: 404px;	}
    }
    .slider_caption {margin-top: 25%;}
    .subscribe_mail {width: 76%;}
    .subscr_btn {width: 24%;}

}

@media(max-width:991px ){
    .navbar-default .navbar-nav > li > a {font-size: 13px;padding: 15px 6px;}
    .navbar-brand {font-size: 28px;}
    #slides{height: 600px !important;}
    .slider_caption > h2 {font-size: 48px;line-height: 48px;}
    .slider_caption > p {font-size: 18px;}
    .about_area {padding-bottom: 80px;}
    .about_slider{margin-top: 30px;}
    .single_iteam {text-align: center;}
    .single_iteam img {display: inline-block;}
    .single_service .service_title {font-size: 18px;}
    .single_service > .service_title:after {left: 33%;}
    .single_price > h3 {font-size: 20px;line-height: 80px;}
    .single_price .price > h4 {font-size: 50px;line-height: 50px;}
    .price_features li {font-size: 13px;line-height: 15px;}
    .price_btn {font-size: 13px;padding: 10px 15px;}
    .blog_slider .slick-prev {left: 88.5%;}
    .testi_content {width: 100%;}
    .clients_slider .slick-prev {left: 45%;}
    .clients_slider .slick-next {right: 45%;}
    .subscr_btn {font-size: 15px;}
    .single_contact_feaured {margin-bottom: 30px;}

}

@media(max-width:767px ){
    .navbar-collapse{background-color: rgba(0,0,0,0.8);}
    .main_nav{text-align: center;}
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background-color: rgba(0,0,0,0.5);}
    #slides {height: 360px !important;}
    .slider_caption {margin-top: 15%;}
    .slider_caption > h2 {font-size: 25px;line-height: 26px;}
    .slider_caption > p {font-size: 15px;}
    .slider_btn {font-size: 18px;}
    .heading h2 {font-size: 30px;line-height: 30px;}
    .skills_area {background-size: cover;}
    .single_skill {width: 50%; margin-bottom: 22px;}
    .counter {width: 50%;float: left;}
    .counter_section {background-size: cover;}
    .portfolio_area {padding: 60px 15px 0;}
    .wagwep-container ul#portfolio-filter a {margin: 0 5px 5px 0;padding: 6px 10px;font-size: 12px;}
    .single_price {margin-bottom: 30px;}
    .single_price > h3 {font-size: 24px;line-height: 100px;}
    .single_price .price > h4 {font-size: 60px;line-height: 60px;}
    .price_features li {font-size: 15px;line-height: 18px;}
    .price_btn {font-size: 15px;padding: 10px 20px;}
    .single_post h3 {font-size: 15px;line-height: 15px;}
    .testi_content:before {left: 35%;}
    .single_client {padding: 18px 10px;}
    .single_client > img {max-width: 100%;}
    .contact_map {margin-top: 30px;}
    #contactFeature {background-size: cover;}
    .subscribe_form {margin: 0 auto; width: 85%;}
    .team_social a {font-size: 15px;height: 30px;line-height: 30px;width: 30px;}
    .blog_slider .slick-prev {left: 86.5%;}
    .og-close {z-index: 999;}
    #about {padding: 50px 0;}
    #service {padding: 50px 0 50px;}
    #works {padding: 0 0 50px;}
    #team {padding: 50px 0;}
    #pricing {padding: 50px 0;}
    #blog {padding: 50px 0;}
    #testimonial {padding: 50px 0;}
    #clients {padding: 50px 0 100px;}
    #contact {padding: 50px 0 0;}
    #subscribe {padding: 50px  0;}
    .social_nav {margin-top: 20px;text-align: center;}
    .footer_left {text-align: center;}
    .single_service > .service_title:after {left: 41%;}
    .wagwep-container ul#portfolio-filter li {width: auto;}
    .wagwep-container ul#portfolio-filter a {text-indent: 0;}

}

@media(max-width:480px ){
    #slides {height: 320px !important;}
    .slider_caption {margin-top: 20%;}
    .slider_caption > h2 { font-size: 20px;line-height: 22px;margin-bottom: 0px;}
    .slider_caption > p {font-size: 14px;}
    .slider_caption > a { font-size: 15px; margin-top: 20px;  padding: 8px 10px;}
    .wagwep-container ul#portfolio-filter li {width: auto;}
    .wagwep-container ul#portfolio-filter a {font-size: 10px;margin: 0 0 2px;padding: 5px;text-align: center;text-indent: 0;}
    .blog_slider .slick-prev {left: 81.5%;}
    .clients_slider .slick-prev {left: 43%;}
    .clients_slider .slick-next {right: 43%;}
    .subscribe_form {width: 100%;}
    .footer_left {text-align: center;}
    .footer_right { margin-top: 20px;}
    .social_nav { text-align: center;}
    .testi_content:before {left: 30%;}
    .single_service > .service_title:after {left: 38%;}
    .wagwep-container ul#portfolio-filter {padding: 0 3%;}

}

@media(max-width:360px ){
    .slider_caption {margin-top: 28%;}
    .slider_caption > a {margin-top: 10px;}
    .slides-navigation h3 {display: none;}
    .slider_caption > h2 {font-size: 18px;line-height: 20px;}
    .panel-title {font-size: 17px;}
    .about_area {padding-bottom: 0px;}
    .about_slider{height: auto;}
    .single_skill {margin-bottom: 25px;width: 100%;}
    .heading h3 {font-size: 20px;line-height: 25px;margin: 0 0 30px;}
    .counter {width: 100%;margin-bottom: 15px;}
    .blog_slider .slick-prev {left: 75.5%;}
    .clients_slider .slick-prev {left: 40%;}
    .clients_slider .slick-next {right: 40%;}
    .subscribe_mail {width: 70%;font-size: 15px;}
    .subscr_btn {width: 29%;font-size: 15px;}
    .heading h2 { font-size: 25px;line-height: 30px;}
    .single_service > .service_title:after {left: 32%;}
    .slides-navigation {display: none;}

}

@media(max-width:320px ){
    .slider_caption > h2 {font-size: 15px;line-height: 18px;}
    .single_service > .service_title:after {left: 29%;}
    .blog_slider .slick-prev {left: 70.5%;}
    .subscr_btn {font-size: 11px;}
    .slider_caption {margin-top: 34%;}

}



